section{
    width:100%;
}

.container-section{
    width: 100%;
    min-height: 100vh;
    max-height: auto;
    background-color: #0f1923;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

