asgiref==3.7.2
beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.2.0
colorama==0.4.6
Django==4.2.4
django-livereload-server==0.4
idna==3.4
Pillow==10.0.0
psycopg2==2.9.7
pypng==0.20220715.0
pytube==15.0.0
qrcode==7.4.2
requests==2.31.0
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
tornado==6.3.3
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
gunicorn==21.2.0
