<div>
    <!----> 
    <li class="self">
       <!----> 
       <div id="message-id-152718441" class="message">
          <!----> <!----> <!----> <!----> 
          <article>
             <!----> 
             <p class="content text-wrap js-wysiwyg">Boa noite</p>
          </article>
          <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> 
          <time title="15 de Agosto de 2023 20:43">
             <span>há 5 dias</span> <i class="wk2-icon wk2-icon-check-double-b"></i> <!---->
          </time>
          <!----> <!----> <!---->
       </div>
    </li>
    <li class="self">
       <!----> 
       <div id="message-id-152718456" class="message">
          <!----> <!----> <!----> <!----> 
          <article>
             <!----> 
             <p class="content text-wrap js-wysiwyg">segue o vídeo o projeto, nós finalizamos e estamos subindo o site par que vocÊ e seu cliente possam testar.<br>
                <br>
                Ficou pedente apenas a parte de configuração do Webhook da Hotmart, irei precisar que seu cliente nos envie a conta dele para que possamos linkar com o site.<br>
                <br>
                Assim que finalizarmos de subir entre hoje e amanhã, te passaremos o link.
             </p>
          </article>
          <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> 
          <time title="15 de Agosto de 2023 20:43">
             <span>há 5 dias</span> <i class="wk2-icon wk2-icon-check-double-b"></i> <!---->
          </time>
          <!----> <!----> <!---->
       </div>
    </li>
    <li class="self">
       <!----> 
       <div id="message-id-152718461" class="message">
          <!----> <!----> <!----> <!----> 
          <article>
             <!----> 
             <p class="content text-wrap js-wysiwyg"><a href="https://we.tl/t-k90GOglmPE" target="_blank" class="js-check-for-external" rel="nofollow noopener">https://we.tl/t-k90GOglmPE</a></p>
          </article>
          <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> 
          <time title="15 de Agosto de 2023 20:43">
             <span>há 5 dias</span> <i class="wk2-icon wk2-icon-check-double-b"></i> <!---->
          </time>
          <!----> <!----> <!---->
       </div>
    </li>
    <li class="self">
       <!----> 
       <div id="message-id-152718477" class="message">
          <!----> <!----> <!----> <!----> 
          <article>
             <!----> 
             <p class="content text-wrap js-wysiwyg">Estamos subindo o projeto, log mais enviaremos o link</p>
          </article>
          <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> 
          <time title="15 de Agosto de 2023 20:44">
             <span>há 5 dias</span> <i class="wk2-icon wk2-icon-check-double-b"></i> <!---->
          </time>
          <!----> <!----> <!---->
       </div>
    </li>
    <li class="self">
       <!----> 
       <div id="message-id-152718490" class="message">
          <!----> <!----> <!----> <!----> 
          <article>
             <!----> 
             <p class="content text-wrap js-wysiwyg">DEsde agradeço pelo paciência</p>
          </article>
          <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> 
          <time title="15 de Agosto de 2023 20:44">
             <span>há 5 dias</span> <i class="wk2-icon wk2-icon-check-double-b"></i> <!---->
          </time>
          <!----> <!----> <!---->
       </div>
    </li>
    <li class="other">
       <!----> 
       <div id="message-id-152736955" class="message">
          <!----> <!----> <!----> <!----> 
          <article>
             <!----> 
             <p class="content text-wrap js-wysiwyg">Bom dia, beleza vou passar pra ele aqui, é que ele pergunta toda hora como ta o andamento, por isso fico mandando mensagem, mas so de vc da um retorno eu organizo com ele aqui e vou conversando</p>
          </article>
          <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> 
          <time title="16 de Agosto de 2023 09:28">
             <span>há 4 dias</span> <!----> <!---->
          </time>
          <!----> <!----> <!---->
       </div>
    </li>
    <li class="self">
       <!----> 
       <div id="message-id-152756229" class="message">
          <!----> <!----> <!----> <!----> 
          <article>
             <!----> 
             <p class="content text-wrap js-wysiwyg">Não sem problemas super compreendo, nós subimos o site o tem, porém deu um erro no banco de dados</p>
          </article>
          <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> 
          <time title="16 de Agosto de 2023 12:49">
             <span>há 4 dias</span> <i class="wk2-icon wk2-icon-check-double-b"></i> <!---->
          </time>
          <!----> <!----> <!---->
       </div>
    </li>
    <li class="self">
       <!----> 
       <div id="message-id-152756245" class="message">
          <!----> <!----> <!----> <!----> 
          <article>
             <!----> 
             <p class="content text-wrap js-wysiwyg">O programador já está ajustando hoje para subir novamente</p>
          </article>
          <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> 
          <time title="16 de Agosto de 2023 12:49">
             <span>há 4 dias</span> <i class="wk2-icon wk2-icon-check-double-b"></i> <!---->
          </time>
          <!----> <!----> <!---->
       </div>
    </li>
    <li class="is-unread message-unread other">
       <!----> 
       <div id="message-id-152770278" class="message">
          <!----> <!----> <!----> <!----> 
          <article>
             <!----> 
             <p class="content text-wrap js-wysiwyg">ótimo, passei para o rapaz o video e as informações, ele me mandou algumas perguntas, vou repassar aqui:</p>
          </article>
          <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> 
          <time title="16 de Agosto de 2023 15:15">
             <span>há 4 dias</span> <!----> <!---->
          </time>
          <!----> <!----> <!---->
       </div>
    </li>
    <li class="is-unread message-unread other">
       <!----> 
       <div id="message-id-152770345" class="message">
          <!----> <!----> <!----> <!----> 
          <article>
             <!----> 
             <p class="content text-wrap js-wysiwyg">*O que ele precisa de acesso para usar o webhook <br>
                *Email dele para liberar esse acesso<br>
                *Precisamos de um video tutorial de como faz para replicarmos futuramente em outra conta<br>
                *Na hora que faz o login no app deve aparecer um popup de boas vindas, vamos colocar um video explicativo sobre como usar<br>
                *Quando a pessoa tenta sacar antes da hora deve aparecer um popup com uma mensagem falando que ainda nao tem saldo minimo para saque<br>
                *Quando chegar no máximo e for a hora de sacar deve aparecer outro popup configuravel para colocarmos uma mensgem um video ou um link
             </p>
          </article>
          <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> 
          <time title="16 de Agosto de 2023 15:16">
             <span>há 4 dias</span> <!----> <!---->
          </time>
          <!----> <!----> <!---->
       </div>
    </li>
    <li class="is-unread message-unread other">
       <!----> 
       <div id="message-id-152770412" class="message">
          <!----> <!----> <!----> <!----> 
          <article>
             <!----> 
             <p class="content text-wrap js-wysiwyg">*Um tutorial de como instala no domínio pq se cair teremos que trocar essas estrutura para outro domínio</p>
          </article>
          <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> 
          <time title="16 de Agosto de 2023 15:16">
             <span>há 4 dias</span> <!----> <!---->
          </time>
          <!----> <!----> <!---->
       </div>
    </li>
    <li class="is-unread message-unread other">
       <!----> 
       <div id="message-id-152770597" class="message">
          <!----> <!----> <!----> <!----> 
          <article>
             <!----> 
             <p class="content text-wrap js-wysiwyg">E questão do idioma vais ser possivel trocar? pq a principio tinhamos conversado sobre a versão ser em inglles</p>
          </article>
          <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> 
          <time title="16 de Agosto de 2023 15:18">
             <span>há 4 dias</span> <!----> <!---->
          </time>
          <!----> <!----> <!---->
       </div>
    </li>
    <li class="self">
        <!----> 
        <div id="message-id-152756245" class="message">
           <!----> <!----> <!----> <!----> 
           <article>
              <!----> 
              <p class="content text-wrap js-wysiwyg">Segue o link do site: https://ytclient-production.up.railway.app?</p>
           </article>
           <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> 
           <time title="16 de Agosto de 2023 12:49">
              <span>há 4 dias</span> <i class="wk2-icon wk2-icon-check-double-b"></i> <!---->
           </time>
           <!----> <!----> <!---->
        </div>
     </li>
     <li class="self">
        <!----> 
        <div id="message-id-152756245" class="message">
           <!----> <!----> <!----> <!----> 
           <article>
              <!----> 
              <p class="content text-wrap js-wysiwyg">Usuário: user1 <br>Senha: @Aa12345678</p>
           </article>
           <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> 
           <time title="16 de Agosto de 2023 12:49">
              <span>há 4 dias</span> <i class="wk2-icon wk2-icon-check-double-b"></i> <!---->
           </time>
           <!----> <!----> <!---->
        </div>
     </li>
    <li class="is-unread message-unread other">
       <!----> 
       <div id="message-id-152912120" class="message">
          <!----> <!----> <!----> <!----> 
          <article>
             <!----> 
             <p class="content text-wrap js-wysiwyg">Boa tarde, o rapaz está me</p>
          </article>
          <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> 
          <time title="18 de Agosto de 2023 15:32">
             <span>há 2 dias</span> <!----> <!---->
          </time>
          <!----> <!----> <!---->
       </div>
    </li>
    <li class="is-unread message-unread other">
       <!----> 
       <div id="message-id-152912122" class="message">
          <!----> <!----> <!----> <!----> 
          <article>
             <!----> 
             <p class="content text-wrap js-wysiwyg">dando</p>
          </article>
          <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> 
          <time title="18 de Agosto de 2023 15:32">
             <span>há 2 dias</span> <!----> <!---->
          </time>
          <!----> <!----> <!---->
       </div>
    </li>
    <li class="is-unread message-last message-unread other">
       <!----> 
       <div id="message-id-152912144" class="message">
          <!----> <!----> <!----> <!----> 
          <article>
             <!----> 
             <p class="content text-wrap js-wysiwyg">muito pressão sobre o app</p>
          </article>
          <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> 
          <time title="18 de Agosto de 2023 15:33">
             <span>há 2 dias</span> <!----> <!---->
          </time>
          <!----> <!----> <!---->
       </div>
    </li>
    <!---->
 </div>