.container-no-videos{
    width:100%;
    height: 60%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-no-videos i {
    font-size: 8.4rem;
    margin-bottom: 1rem;
    color: var(--color-default);
}
.alert-message{
    width: 90%;
    margin-top: 2rem;
    font-size: 2.1rem;
    font-weight: bold;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}