{%extends "index/mainStructure.html"%}
{%load static%}
{%block titleMain%}To Withdraw{%endblock%}

{%block staticMain%}
    <link rel='stylesheet' href='{%static "css/index/sacar.css"%}'>
{%endblock%}

{%block contentMain%}
    <div class="card-payment-modal">
        <div class="card-payment">
            <div class="card-payment-container">
                <div class="card-payment-center">
                    <div class="top-payment">
                        <div class="top-title">
                            <h3>Enter Payment information</h3>
                        </div>
                        <div class="top-description">
                            <p>Before making payment, make sure you have registered your CPF correctly.</p>
                        </div>
                        <div class="top-more-info no-mobile">
                            <ul>
                                <li>Open the Paypal Banking Application</li>
                                <li>Get your Paypal Account</li>
                            </ul>
                        </div>
                    </div>
                    <div class="bottom-payment">
                        <div class="forms">
                            <div class="form-container">
                                <div class="input-container">
                                    <div class="input-container-center">
                                        <span>Account</span>
                                        <input class="input-info" id="cpf" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="form-container form-container-flex">
                                <div class="input-container input-container-flex">
                                    <div class="input-container-center">
                                        <span>First Name</span>
                                        <input class="input-info" id="first-name" type="text">
                                    </div>
                                </div>
                                <div class="input-container input-container-flex">
                                    <div class="input-container-center">
                                        <span>Last Name</span>
                                        <input class="input-info" id="last-name" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="form-container">
                                <div class="show_my-amount">
                                    <h3>Balance Available: </h3>
                                    <span>R$</span>
                                    <span id="my-amount">{{amount}}</span>
                                </div>
                                <div class="show-mini">
                                    <input id="avaible-draw" value="{{ min_draw }}" style="display:none;">
                                    <p>Minimum Withdrawal R${{ min_draw }}</p>
                                </div>
                                <div class="input-container">
                                    <div class="input-container-center">
                                        <span>Quantity (BRL)</span>
                                        <input class="input-info" id="payment" type="number">
                                    </div>
                                </div>
                                <div class="btn-confirm-container">
                                    <div class="btn-confirm">
                                        <div class="btn-confirm-center">
                                            <input id="link-to-pay" style="display:none;" value="{{ url_reedem }}">
                                            to withdraw
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <div class="payment-validate">
        <div class="payment-validate-center">
            <div class="payment-validate-center-container">
                <h2>Unfortunately you still don't have enough balance to withdraw!</h2>
                <h3>Very little left for you to be able to make your withdrawal!</h3>
                <span>Keep liking the videos so you can make your first rescue!</span>
                <img id="pix-code" src="">
                <div class="btn-confirm-container">
                    <div class="btn-confirm">
                        <a href="/">
                            <div class="btn-confirm-center">Watch Videos</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}

{%block scriptMain%}
    <script src="{%static 'js/index/sacar.js'%}"></script>
{%endblock%}
