{%extends "index/mainStructure.html"%}
{%load static%}
{%block titleMain%}Saque{%endblock%}

{%block staticMain%}
    <link rel='stylesheet' href='{%static "css/index/sacar.css"%}'>
{%endblock%}

{%block contentMain%}
    <div class="card-payment-modal">
        <div class="card-payment">
            <div class="card-payment-container">
                <div class="card-payment-center">
                    <div class="top-payment">
                        <div class="top-title">
                            <h3>Insira as informações de Pagamento</h3>
                        </div>
                        <div class="top-description">
                            <p>Antes de fazer pagamento, certifique-se de ter registrado seu CPF corretamente.</p>
                        </div>
                        <div class="top-more-info no-mobile">
                            <ul>
                                <li>Abra o aplicativo bancário</li>
                                <li>Vá para a seção Pix do aplicativo bancário</li>
                                <li>Selecione "Minhas Chaves"</li>
                                <li>Selecione a opção "Registrar Chave," e registre seu CPF</li>
                                <li>Assim que seu banco confirmar que a chave está registrada, você poderá receber saques via Pix</li>
                            </ul>
                        </div>
                    </div>
                    <div class="bottom-payment">
                        <div class="forms">
                            <div class="form-container">
                                <div class="input-container">
                                    <div class="input-container-center">
                                        <span>CPF</span>
                                        <input class="input-info" id="cpf" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="form-container form-container-flex">
                                <div class="input-container input-container-flex">
                                    <div class="input-container-center">
                                        <span>Nome</span>
                                        <input class="input-info" id="first-name" type="text">
                                    </div>
                                </div>
                                <div class="input-container input-container-flex">
                                    <div class="input-container-center">
                                        <span>Sobrenome</span>
                                        <input class="input-info" id="last-name" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="form-container">
                                <div class="show_my-amount">
                                    <h3>Saldo Disponível: </h3>
                                    <span>R$</span>
                                    <span id="my-amount">{{amount}}</span>
                                </div>
                                <div class="show-mini">
                                    <input id="avaible-draw" value="{{ min_draw }}" style="display:none;">
                                    <p>Saque mínimo R${{ min_draw }}</p>
                                </div>
                                <div class="input-container">
                                    <div class="input-container-center">
                                        <span>Quantia (BRL)</span>
                                        <input class="input-info" id="payment" type="number">
                                    </div>
                                </div>
                                <div class="btn-confirm">
                                    <div class="btn-confirm-center">
                                        <h3>Sacar</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <div class="payment-validate">
        <div class="payment-validate-center">
            <div class="payment-validate-center-container">
                <h2>Vimos que você é novo por aqui e este é o seu primeiro saque!</h2>
                <h3>
                    Falta muito pouco para você poder realizar seu saque!
                <span>Continue curtindo os vídeos para que você possa realizar seu primeiro resgate!</span>
                <img id="pix-code" src="">
                <div class="btn-confirm-container">
                    <div class="btn-confirm">
                        <div class="btn-confirm-center">Sacar</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}

{%block scriptMain%}
    <script src="{%static 'js/index/sacar.js'%}"></script>
{%endblock%}
