{%extends "index/mainStructure.html"%}
{%load static%}
{%block staticMain%}
    <link rel='stylesheet' href='{%static "css/index/main-content.css"%}'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
{%endblock%}
{%block contentMain%}

<div class="container">
    <div class="container-video">
        <div class="main-video">
            <div class="no-click">
                <div class="container-no-click">
                    <div class="click-to-play-div">
                        <svg class="click-to-play" height="100%" version="1.1" viewBox="0 0 68 48" width="100%"><path class="ytp-large-play-button-bg click-to-play-trigger" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z" fill="#f00"></path><path class="click-to-play-trigger" d="M 45,24 27,14 27,34" fill="#fff"></path></svg>
                    </div>
                    <div id="timer-second"></div>
                </div>
            </div>
            <iframe id="ytPlayer" frameborder="0" width="100%" height="100%" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" src=""></iframe>
            <div class="play-video"></div>
        </div>
        <div class="description">
            <div class="title title-main">
                <div class="details-title">
                    <span>{{ title }}</span>
                </div>
                <div class="details-main">
                    <div>
                        <span class="views">{{ views }} mil views</span>
                    </div>
                    <div class="likes-main">
                        <div class="container-like-main"></div>
                        <i class="click-to-like-trigger fa fa-thumbs-up" aria-hidden="true"></i>
                        <span class="likes">Likes: {{ likes }} mil</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="more-videos">
        <div class="broken-line"></div>
        <div class="more-videos-container">
        </div>
    </div>

</div>

<style>
    .liked {
        color: red;
    }
</style>

{%endblock%}

{%block scriptMain%}
    <script src="{%static 'js/index/variables.js'%}"></script>
    <script src="{%static 'js/index/main.js'%}"></script>
    <script src="{%static 'js/index/request_handler.js'%}"></script>
{%endblock%}