<div class="main-video-center">
    <div class="main-video-container">
        <iframe id="ytPlayer"  frameborder="0"  allowfullscreen="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="95%" height="90%" src="{{url}}?enablejsapi=1&mute=1"></iframe>
    </div>
    <div class="imped-click"></div>
</div>
<div class="controller-video">
    <div class="visu-controler-video">
        <p id="timer">30s</p>
        <a id="play">
            <svg xmlns="http://www.w3.org/2000/svg" cursor="pointer" width="25" height="25" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"></path>
            </svg>
        </a>
    </div>
</div>